GtkWindow {
	background-color: rgb(255,255,255); /* replicate default background window color  */
}

GtkFixed {
	background-color: rgb(220,218,213);
}

GtkMessageDialog {
	background-color: rgb(220,218,213);
}

GtkViewport {
	background-color: rgb(220,218,213);
}

GtkLabel {
	padding-left: 5px;
	padding-right: 5px;
	/*border-style:solid;
	border-width:1px;
	border-color: rgb(124,128,122);*/
}

GtkButton{
	-GtkWidget-focus-line-width: 0;
	border-radius: 1000px;
	border-width: 0 0 0 0;
	
	background-image: -gtk-gradient (linear,
         left top,
         left bottom,
		 color-stop(0.0,rgba(210,198,203,1)),
         color-stop(0.50,rgba(210,198,203,1)),
         color-stop(0.51,rgba(190,178,163,1)),
         color-stop(1.00,rgba(190,178,163,1)));
}
/* Theme button when the mouse pointer's on it, both are equivalent */
GtkButton:hover,
GtkButton:prelight {
	border-radius: 1000px;
	background-image: -gtk-gradient (linear,
         left top,
         left bottom,
         color-stop(0.0,rgba(230,218,223,1)),
         color-stop(0.50,rgba(230,218,223,1)),
         color-stop(0.51,rgba(190,178,163,1)),
         color-stop(1.00,rgba(190,178,163,1)));	
}

/* Theme button when it's active (pressed) AND has pointer over it.  */
GtkButton:hover:active {
	color: white;
	border-width: 3px 3px 3px 3px;
	background-image: -gtk-gradient (linear,
         left top,
         left bottom,
         color-stop(0.0,rgba(240,238,233,1)),
         color-stop(0.50,rgba(240,238,233,1)),
         color-stop(0.51,rgba(190,178,163,1)),
         color-stop(1.00,rgba(190,178,163,1)));	
}